<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <!--Logo-->
      <div class="main-header">
        <!--Barra busqueda-->
        <a class="logo" href="/">
          <img src="img/logo-mercado-liebre.svg" alt="Logo" />
        </a>
        <div class="search">
          <button class="buttonSearch">
            <input class="" type="text" placeholder="Buscar productos, marca" />
            <i class="fas fa-search"></i>
          </button>
        </div>
        <h3 class="copy-header fas fa-hand-holding-usd">
          Comprá en cuotas y sin tarjeta de crédito
        </h3>
      </div>
      <div class="copy-subHeader"></div>
      <!--Navbar-->
      <nav>
        <ul class="left-nav">
          <li type="none"><a href="">Ofertas</a></li>
          <li type="none"><a href="">Tiendas Oficiales</a></li>
          <li type="none"><a href="">Vender</a></li>
          <li type="none"><a href="">Ayuda</a></li>
        </ul>
        <ul class="rigth-nav margin-top">
          <li type="none">
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>

          <li type="none">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li type="none">
            <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <!-- Burger Menu-->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <!--Banner-->
    <div><img class="banner" src="img/img-home-banner.jpg" alt="" /></div>
    <main>
      <!--Ultima visita-->
      <section class="mainSection">
        <h2>Basado en tu útima visita</h2>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$6.770</p>
              <p class="discountion discount">40% OFF</p>
            </div>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$230.000</p>
              <p class="discountion discount">20% OFF</p>
            </div>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$70.500</p>
              <p class="discountion discount">10% OFF</p>
            </div>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-tv-samsung-smart.jpg"
            alt="SmartTv Samsung 43"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$23.200</p>
              <p class="discountion discount">5% OFF</p>
            </div>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
      <!--Ofertas-->
      <section class="mainSection">
        <h2>Ofertas</h2>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$6.770</p>
              <p class="discountion discount">40% OFF</p>
            </div>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$230.000</p>
              <p class="discountion discount">20% OFF</p>
            </div>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$70.500</p>
              <p class="discountion discount">10% OFF</p>
            </div>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </article>
        <article class="articles">
          <img
            class="imgArticle"
            src="./img/img-tv-samsung-smart.jpg"
            alt="SmartTv Samsung 43"
          />
          <div class="divArticle">
            <i class="fas fa-truck"></i>
            <div class="mismoRenglon">
              <p class="prices">$23.200</p>
              <p class="discountion discount">5% OFF</p>
            </div>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footerDiv">
        <i class="fas fa-2x fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footerDiv">
        <i class="fas fa-2x fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footerDiv">
        <i class="fas fa-2x fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
      </div>
    </footer>
  </body>
</html>
